.myblock1 {
    margin-bottom: 1rem;
  }



/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #629b34;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

main {
    padding: 20px;
}

article, section {
    margin-bottom: 20px;
}

article img {
    max-width: 100%;
    height: auto;
}

.articles h3 {
    margin: 0 0 10px 0;
}

.content-block {
    margin-bottom: 20px;
}

.content-block h4 {
    margin: 0 0 10px 0;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
}

.links a:hover {
    text-decoration: underline;
} */
